# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.FlockingSystem.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Projects\FlockingSystem\.idea\.idea.FlockingSystem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
